<html>
<head>
    {%block head %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/bootstrap.css" />
	
    {% endblock %}
</head>
<body>
    {%block content %}{% endblock %}
    <script src="/static/jquery-3.6.0.min.js"></script>
    <script src="/static/bootstrap.js"></script>
</body>
</html>