{%extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

	<a href="/stock"><button style="margin-top: 20px; margin-left: 50%;" class="btn-btn primary"> View stock based on Symbol</button></a>

	<div class="container d-flex h-75">
	    <div class="row justify-content-center align-self-center welcome">
	    	<h3>Hi User!!</h3>
			<!-- <div style="width:100%"> -->
			{% if error %}
				<div class="alert alert-danger">
					{{ error }}
				</div>
			{% endif %}

			<form action="subscribe" method="POST">
			  <div class="form-group">
			    <label for="email">Email</label>
			    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Subscribe with email..." required>
			  </div>
			  <div style="height:7px"></div>
			  <div class="form-group">
			    <label for="phone">Phone Number:</label>
			    <input type="tel" name="ph_no" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your phone number ...." required>
			  </div>
			  <div class="form-group">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="notification-type" id="inlineRadio1" value="mail" checked>
					<label class="form-check-label" for="inlineRadio1">Email</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="notification-type" id="inlineRadio2" value="sms">
					<label class="form-check-label" for="inlineRadio2">SMS</label>
				</div>

			  </div>
			  <div style="height:7px"></div>
			  <div class="form-group">
			    <label for="stock">Stock symbol</label>
			    <input type="text" name="stock" class="form-control" id="stock" aria-describedby="stockHelp" placeholder="Stock symbol" required>
			  </div>
			  <div style="height:7px"></div>
			  <div class="form-group">
			    <label for="stock">Threshold</label>
			    <input type="number" name="threshold" min="0" class="form-control" id="threshold" aria-describedby="thresholdHelp" placeholder="Threshold" required>
			  </div>
			  <div style="height:7px"></div>
			  <div class="form-group">
			    <label for="time">Interval</label>
			    <input type="number" name="time" min="0" class="form-control" id="time" aria-describedby="timeHelp" placeholder="Time to get regular notification..." required>
			  </div>
			  <div class="form-group">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="time-type" id="inlineRadio1" value="hours" checked>
					<label class="form-check-label" for="inlineRadio1">Hours</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="time-type" id="inlineRadio2" value="days">
					<label class="form-check-label" for="inlineRadio2">Days</label>
				</div>

			  </div>
			  <div style="height: 10px"></div>
			  <button type="submit" class="btn btn-primary">Subscribe</button>
			</form>
            <!-- <form action="/subscribe" method="POST">
                <div class="form-group row">
                  <label for="Email" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" name="email" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="stockSymbol" class="col-sm-2 col-form-label">Stock Symbol</label>
                    <div class="col-sm-10">
                      <input type="text" name="stockSymbol" readonly class="form-control-plaintext" id="staticSymbol" value="Symbol of the stock ..... ">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="stockThreshold" class="col-sm-2 col-form-label">Threshold Value</label>
                    <div class="col-sm-10">
                      <input type="number" name="stockThreshold" readonly class="form-control-plaintext" id="staticThreshold" value="Threshold Value ..... ">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="stockNotificationInterval" class="col-sm-2 col-form-label">Notification Interval</label>
                    <div class="col-sm-10">
                      <input type="number" name="stockNotificationInterval" readonly class="form-control-plaintext" id="staticNotification" value="Regular notification time .....">
                    </div>
                  </div>
                
              </form> -->
			
	    </div>
	</div>
{% endblock %}