{%extends "base.html" %}

{% block title %}Stock Result{% endblock %}

{% block content %}
	<div class="container d-flex h-75">
	    <div class="row justify-content-center align-self-center welcome">
			{% if error %}
				<div class="alert alert-danger">
					{{ error }}
				</div>
			{% endif %}
			<form class="d-flex flex-row" action="/search" method="POST">
			  <div class="form-group">
			    <input type="text" name="stock" class="form-control" id="stock" aria-describedby="stockHelp" placeholder="Stock symbol" required>
			  </div>
			  <div style="width: 10px"></div>
			  <button type="submit" class="btn btn-primary">Search</button>
			</form>
            
            {%if data%}
                <ul class="list-group">
                    <li class="list-group-item">Name: {{ data["longName"] }}</li>
                    <li class="list-group-item">Symbol: {{ data["symbol"] }}</li>
                    <li class="list-group-item">Industry: {{ data["industry"] }}</li>
                    <li class="list-group-item">Sector: {{ data["sector"] }}</li>
                    <li class="list-group-item">Country: {{ data["country"] }}</li>
                    <li class="list-group-item">Current Price: {{ data["currentPrice"] }}</li>
                </ul>
            {% endif %}

	    </div>
	</div>
{% endblock %}